<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660646061684-f4d353j26oudrgoalivu5h6ehqia7jp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660646061684-f4d353j26oudrgoalivu5h6ehqia7jp5</string>
	<key>API_KEY</key>
	<string>AIzaSyCEm0HFK3aJzwnXjAvXnBJ2YWePplPCK3U</string>
	<key>GCM_SENDER_ID</key>
	<string>660646061684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hussainsk.kuwaitophthalmology</string>
	<key>PROJECT_ID</key>
	<string>kuwait-ophthalmology</string>
	<key>STORAGE_BUCKET</key>
	<string>kuwait-ophthalmology.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660646061684:ios:f60ff7fa008e0a8aa75321</string>
</dict>
</plist>